.postit {
    color: black;
    background-color: #FFFFA5;
    width: 270px;
    height: 270px;

    cursor: pointer; 
    flex-direction: column; 
    box-sizing: border-box; 
    display: flex;

    .glue {
        flex: 1 1 100%;
        box-sizing: border-box;
        max-height: 15%;
        background-color: darken(#FFFFA5, 5);
    }

    .date {
        text-align: right;
        box-sizing: border-box;
        max-height: 10%;
        padding: 10px;
        
    }

    .quote {
        padding: 20px;        
        height: 100%; 
        margin: 0px; 
        max-height: 100%; 
        min-width: 100%; 
        width: 100%; 
        align-items: center; 
        flex-direction: row; 
        box-sizing: border-box; 
        display: flex;
        text-align: justify;
    }

    .author {
        padding: 10px;
        text-align: right;
        box-sizing: border-box;
    }
}