
<div class="content-wrapper">
  <mat-toolbar>
    <mat-input-container floatPlaceholder="never">
      <input matInput #filter placeholder="{{'admin.postits.search.placeholder'|translate}}">
    </mat-input-container>
    <div fxFlex></div>
    <button mat-raised-button color="primary" [routerLink]="['new']" *appHasRight="'R_API_POSTIT_C'">{{'admin.postits.new'|translate}}</button>
  </mat-toolbar>
  <div class="form-group no-padding col-mat-12">
  </div>
  <div class='clearfix col-mat-6 col-sm-12'></div>
  <br />
  <div class="col-mat-12">
    
    <mat-table #table [dataSource]="dataSource" matSort>
      <!-- User name Definition -->
      <ng-container cdkColumnDef="author">
        <mat-header-cell *cdkHeaderCellDef mat-sort-header><span [innerHTML]="'postit.author.label'|translate"></span></mat-header-cell>
        <mat-cell *cdkCellDef="let row"> {{row.author}} </mat-cell>
      </ng-container>

      <ng-container cdkColumnDef="quote">
        <mat-header-cell *cdkHeaderCellDef mat-sort-header><span [innerHTML]="'postit.quote.label'|translate"></span></mat-header-cell>
        <mat-cell *cdkCellDef="let row"> {{ row.quote }}</mat-cell>
      </ng-container>

      <ng-container cdkColumnDef="date">
        <mat-header-cell *cdkHeaderCellDef mat-sort-header><span [innerHTML]="'postit.date.label'|translate"></span></mat-header-cell>
        <mat-cell *cdkCellDef="let row"> {{row.date | date:'dd/MM/yyyy'}} </mat-cell>
      </ng-container>

      <ng-container cdkColumnDef="toPerson">
        <mat-header-cell *cdkHeaderCellDef mat-sort-header><span [innerHTML]="'postit.toPerson.label'|translate"></span></mat-header-cell>
        <mat-cell *cdkCellDef="let row"> {{row.toPerson}} </mat-cell>
      </ng-container>

      <ng-container cdkColumnDef="context">
        <mat-header-cell *cdkHeaderCellDef mat-sort-header><span [innerHTML]="'postit.context.label'|translate"></span></mat-header-cell>
        <mat-cell *cdkCellDef="let row"> {{row.context}} </mat-cell>
      </ng-container>

      <ng-container cdkColumnDef="action">
        <mat-header-cell *cdkHeaderCellDef><span [innerHTML]="'admin.actions'|translate"></span></mat-header-cell>
        <mat-cell *cdkCellDef="let row">
          <button *appHasRight="'R_API_POSTIT_U'" mat-button class="cell-action-button" [routerLink]="[row.id, 'update']"><mat-icon>mode_edit</mat-icon></button>
          <button *appHasRight="'R_API_POSTIT_U'" mat-button class="cell-action-button" (click)="confirmDeleteContent($event, row)"><mat-icon>delete</mat-icon></button>
        </mat-cell>
      </ng-container>

      <!-- Header and Row Declarations -->
      <mat-header-row *cdkHeaderRowDef="['author', 'quote', 'date', 'toPerson', 'context', 'action']"></mat-header-row>
      <mat-row *cdkRowDef="let row; columns: ['author', 'quote', 'date', 'toPerson', 'context', 'action']"></mat-row>
    </mat-table>

    <mat-paginator #paginator [length]="dataSource.totalLength" [pageIndex]="0" [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]">
    </mat-paginator>
  </div>
</div>
