* { 
    box-sizing: border-box; 
}

.dashboard-container {
    max-width: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .dashboard-postit{
        display: inline-block;
        vertical-align: top;
        min-height: 280px;
    }
}

.dashboard-container > * {
    flex: 0 0 auto;
    margin-left: 30px;
}

mat-input-container {
    width: 25%;
}
